html, body{
	margin: 0;
	padding: 0;
	


}


.criadores{ display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
}

.titulo{
  text-align: center;
    font-size: 300%;
    left: 70vw;
    font-weight: bold; padding-top: 7vh;}


.periodo{font-size:250%;margin-top: -3.5vh;}



.minititulo{position: relative; left: 50vw;
font-weight: normal; top: 10vh; padding-bottom: 8vh;}


#ul{font-size: 20px; padding: 0.5%;

}

.itemficha{padding: 5vh; left: 50vw; margin-bottom: 5vh;}

.page-footer{background-color: #15459c ;
}

#onda {
    width: 200vw;
    height: 200px;
    position: relative;
    top: 120%;
    z-index: 1;
    background-color: #f5f5f5; 
}

  }
  .form-field label{
    position: absolute;
    margin-bottom: 0;
    bottom: 7px;
    left: 0;
  }
  .form-field.email{
    margin-top: 24px;
  }

  .form-field.email input::placeholder{
    color: #bbbbbb!important;
  }
  .form-field.email label{
    position: absolute;
    margin-bottom: 0;
    bottom: 40px;
    left: 0;
    font-size: 0.8em;
  }

  .scrolled {
    background-color: #203047;
  }

  .site-map {
    background-color: white;
    padding: 40px 0;
    font-size: 10pt;
    color: #162d4b;
  }

  .site-map h1 {
    font-size: 10pt;
    font-weight: bold;
    border-bottom: 2px solid #162d4b;
    color: #162d4b;
  }

  .site-map a{
    color: #162d4b !important;
    text-decoration: none;
  }

  .site-map-content {
    width: 70vw;
    display: flex;
    margin: 0px auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start ;
  }

  .site-map-center {
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .site-map-section {
    margin: 8px auto;
    width: 150px;
    display: flex;
    flex-direction: column;
  }

  .site-map-section a{
    margin-top: 5px;
  }

  .site-footer {
    background: #15459c ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    color: #fff;
    font-size: 12px;
    width: 100vw;
    padding: 15px 80px;
  }

  .footer-contato {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .footer-logo img{
    height: 35px;
  }

  .footer-text{
    width: 100vw;
  }

  .footer-text a{
    display: block;
    margin: auto 0;
  }

  @media only screen and (max-width: 600px){
    .footer-text {
      width: 70vw;
      text-align: center;
      display: block;
      margin-bottom: 15;
      font-weight: 600;
    }

    .footer-logo{
      display: none;
    }
    
 

    .footer-contato {
      align-items: center;
    }
  }



  #scrollTop {
    position: fixed;
    height: 45px;
    width: 45px;
    bottom: 10px;
    left: 10px;
    box-shadow: none;
    z-index: 50;
    cursor: pointer;
  }

  nav#cookie-accept{
    background-color: #203047;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 101;
    padding: 1.7rem 0;
  }
  nav#cookie-accept .row{
    justify-content: space-between;
    align-items: center;
  }
  #cookie-text{
    max-width: 40%;
    color: white;
    margin-bottom: 0;
    /*line-height: 1.2;*/
  }
  #cookie-text a {
    color: white;
    text-decoration: underline;
  }
  #cookie-text a {
    color: white;
  }
   button.btn#cookie-ok{
    color: #203047;
    width: 180px;
    background-color: #fff;
    border-radius: 100px;
  }

  @media only screen and (max-width: 768px){
    #cookie-accept .row{
      flex-direction: column;
    }
    #cookie-text{
      max-width: 95%;
      margin-top: 0.5rem;
      text-align: center;
    }
    button.btn#cookie-ok{
      padding: 6px 15px;
    }


       .footer-logo img {
        width: auto;
        height: auto;
        max-height: 50px;
    }



    body{
      background-color: #ffffff;
    }


    .bottom-style{
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right,#f1cd52,#ecb04f);
      border-radius: 10px;
      position: absolute;
      z-index: -500;
      top:15px;
      left: 0;
    }

    .bottom-style::after {
      content: "";
      display: block;
      width: 100%;
      height: calc(100% - 20px);
      border: none;
      border-radius: 10px;
      background-color: #fff;
      position: absolute;
      top: -1px;
      left: 0;
    }

    .navbar-burger{
      color: #f2d053;
      font-size: 12px;
    }
    .navbar {
      padding: 0;
      color: #f2d053;
    }
    .navbar-brand {
      padding: 10px;
      display: flex!important;
      width: 100%;
    }
  }

</style>



    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">	
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" media="(max-width: 768px)" />
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/regular.min.css"> -->

<style type="text/css">
*,input {
	font-family: "Montserrat", sans-serif; 
}
body{
	width: 100vw;
	overflow: hidden;

}
a, a:hover {
	color: inherit;
	text-align: center;
}
#header{
	height: 80vh;
  width: 100vw;
	position: relative;
	display: flex;
	justify-content: right;
	align-content: center;
	align-items: center;
	width: 100vw;
	background-color:  #15459c ;
	background-size: 100%;
	background-repeat: no-repeat;
	color: white;
	font-size: 30px;
	padding-bottom: 80px;
  padding-top: 70px;
	white-space: nowrap; 
}
#header img {
	box-sizing: border-box;
	max-width: initial;
	height: 90%;
	padding-top: 10px;
	padding-right: 50px;
	padding-left: 50px;
  width: 100vw;
}
#navegacao {
	padding: 20px;
	padding-right: 3px;
	position: fixed;
	width: 160px;
	/*height: 208px;*/
	top: calc(50vh - 104px);
	left: 0;
	z-index: 50;
	background:#000046;
	color: white;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
#pqpi {
	background: #f5f5f5;
	position: relative;
	padding-top: 10px;
}

#pqpi img {
	height: auto;
	width: 73%;
}
#pqpi .columns{
	/*margin-top: 50px;*/
}

.cyellow {
	color: #f7b823;
}

.itemficha{padding: 5vh; left: 50vw; margin-bottom: 5vh;}

.cwhite {
	color: #ffffff; padding: 5vh;}

.cwhite:hover{color: #ffffff;



}
.cgray {
	color: #3c3c3b !important;
}
.byellow {
	background: #f7b823;
}

.bwhite {
	background: #f5f5f5;
}
.bgray {
	background: #333333;
}

.blightyellow {
	background: #f7d685;
}

.bgray2 {
	background: #6f6f6e;
}

.blightgray {
	background: #e8e8e8;
}

section {
	padding:50px 80px 50px 0;
	position: relative;
}
section > *{
	padding-left: 250px;
}

#chamada1 h2{
	font-size: 36px;
	font-weight: 900;
	/*line-height: 1.1em;*/
}
#pqpi-title, h2 {
	font-size: 24px;
	font-weight: 900 !important;
	position: relative;
	z-index: 10;
}
#bgpqpi {
	display: block;
	position: absolute;
	top: -0.6em;
	left: -0.05em;
	z-index: -1;
	width: 5.05em;
	height: 1em;
	background:#f7b823;
}

._btn {
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	padding: 10px 20px;
	text-align: center;
	color: #c6c6c6;
	border-radius: 50px;
	margin: 10px;
	width: 180px;
	border: none;
	cursor: pointer !important;
	transition: all 0.5s;
}

.btn__inactive,.btn__inactive:hover,.btn__inactive:focus {
	cursor:	default;
	text-decoration: none;
	color: #3d3d3d;
	background: linear-gradient(to right, #fcca3a,#f49f4b);
}

.btn__active {
	text-decoration: none;
	color: #c6c6c6;
	background: linear-gradient(to right, #f3f3f3,#dedede);
	box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
	transition: 1s;
	-webkit-transition: 1s;
}

.btn__active:hover,.btn__active:focus {
	transform: translate(5px,5px);
	box-shadow: none;
}
.btn__bg{
	background: linear-gradient(to right, #fcca3a, #f4a04b);
}
#btn__1{
	margin-top: 20px;
	width: unset;
	display: inline-flex;
	align-items: center;
	font-size: 18px;
	background: linear-gradient(to right, #fcca3a, #f4a04b);
}

#we2 {
	font-size: 16px;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#we2 span {
	font-size: 24px;
	font-weight: 800;
}

.svg__container{
	width:100vw;
	height: 70px;
	position: absolute;
	padding: 0;
	right: 0;
}
.svg__container svg, .svg__container .svg{
	width: 100%;
}
.svg__container.svg__bottom{
	bottom: -10px;
}

.svg__container.svg__top{
	top: -10px;
}

.st0{
	width: 100%;
}

.pqpi-text {
	margin-top: 30px;
}

.font-title{
	font-weight: 900;
	font-size: 24px; 
}
#vantagens {
	padding-bottom: 10px;
  background-color: #15459c ;
}
#vantagens img {
	width: auto;
	height: 40px;

}
#vantagens .columns, #vantagens .column {
	/*padding-top: 0;
	padding-bottom: 5px;
  background-color: #15459c ;*/
}

#aprendizado {
	padding-top: 100px;
}
.flex__center {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.info__card {
	display: flex;
	margin: 5px;
}
.info__card > div:nth-of-type(1){
	height: 100px;
	width: 100px;
	font-weight: bold;
}
.info__card > div:nth-of-type(2){
	height: 100px;
	width: 200px;
}
.info__card > div:nth-of-type(3){
	height: 100px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.info__card div:nth-of-type(4){
	width:300px;
	height: 100px;
	display: flex;
	justify-content: left;
	align-content: center;
	align-items: center;
	font-size: 14px;
}

.card__detail {
	height: 10px;
	width: 10px;
	border-radius: 10px;
	margin-left: 120px;
	margin-right: 10px;
	position: relative;
}
.card__detail::after {
	content: "";
	width: 130px;
	height: 2px;
	position: absolute;
	background: inherit;
	right: 2px;
	top: 5px;
}

.flex__column {
	flex-direction: column;
}
#conteudo .svg__top {
	top: -50px;
}
#conteudo .svg__top img {
	height: 600px;
}

#conteudo {
	background:  #e8e8e8;
	padding-right: 0;
	padding-top: 0 !important;
	padding-top: 100px;
}

#pirow {
	flex-wrap: wrap;
	align-items: center;
}

.contprog__img__container {
	align-items: flex-start;
	}
.contprog__img__container img {
	max-height: 70vh;
}	

#btn__2{
	margin: 50px 0;
	font-size: 18px;
	width: auto;
	background: linear-gradient(to right, #fcca3a, #f4a04b);
}
#candidate-se {
	padding: 0;
	padding-top: 20px;
}
#candidate-se h2{
	text-transform: uppercase;
	font-weight: 800;
	font-size: 24px;
}
.candidatese__form {
	width: 320px;
}
.candidatese__form .btn {
	margin-top: 40px;
}
.candidatese__form input[type="text"],
.candidatese__form input[type="email"],
.candidatese__form select 
{
	display: block;
	width: 100%;
	padding: 7px;
	border: none !important;
	border-bottom: 2px solid #fff !important;
	border-radius: 0;
	margin-bottom: 10px;
	background: transparent;
	font-size: 16px;
	height: 45px;
	box-shadow: none;
	color: #fff;
	font-family: "Montserrat",sans-serif;
}
.form-field{
	position: relative;
}
.form-field label{
	position: absolute;
	margin-bottom: 0;
	bottom: 7px;
	left: 0;
}
.form-field.email{
	margin-top: 24px;
}

.form-field.email input::placeholder{
	color: #bbbbbb!important;
}
.form-field.email label{
	position: absolute;
	margin-bottom: 0;
	bottom: 40px;
	left: 0;
	font-size: 0.8em;
}
#trello .form-field input{
	padding-left: 0;
	padding-right: 0;
}
input::placeholder{
  /* color: white !important;	 */
}
div.courses-buttons{
	display: flex;
	justify-content: stretch;
	width: 100%;
	border-radius: 4px;
	border: 0px solid #fff;
	/* background-color: #555555; */
	margin-top: 10px;
	margin-bottom: 10px;
}
div.courses-buttons a{
	padding: 0.5rem 1rem;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	flex-grow: 1;
	border: 0.5px solid #fff;
	background-image: linear-gradient(#555555, #444444);
}
div.courses-buttons a:first-child{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
div.courses-buttons a:last-child{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-left: 0;
}
div.courses-buttons a.active{
	color: #f7b823;
	text-shadow: 0px 0px 3px rgb(253, 223, 74);
	background-image: linear-gradient(rgb(36, 36, 36), #1a1a1a);
}
div.courses-buttons a:hover{
	background-image: linear-gradient(rgb(36, 36, 36), #1a1a1a);
}
select option {
    margin: 40px;
    background: #555555;
    color: #fff;
    font-family: "Montserrat",sans-serif;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.candidatese__form textarea{
	resize:none;
	overflow: hidden;
}
#bgfaq {
	display: block;
    position: absolute;
    top: -0.3em;
    left: -0.15em;
    z-index: -1;
    width: 2.55em;
    height: 1em;
    background: #f7b823;
}
#faq__section {
	background: #f5f5f5;
	padding-top: 120px;
}
#faq__section h2 {
    margin-bottom: 40px;
}
.faq__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 15px;
}

.faq__item p{
	margin-bottom: 0;
}

.faq__question {
	flex-direction: row;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.faq__number {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	font-size: 28px;
	font-weight: 800;
	min-width: 56px;
	min-height: 56px;
	height: 100%;
	background: #575757;
}
.faq__question__text {
	width: 100%;
	display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding:0;
    cursor: pointer;
}
.faq__question__text p {
	padding:5px;
	padding-left: 1.5em;
}
.duvidas {
	width: 80%;
}
.duvidas b {
	font-weight: 800;
}
.duvidas div {
	padding: 30px 10px;
}
#title {
	padding-left: 250px;
}
.faq__answer {
	width: 100%;
	padding: 20px;
}
#navegacao a {
	cursor: pointer;
}
#navegacao li::before {
	content: "";
	transition: all 1s;
	display: inline-block;
	height: 0.5em;
	width: 0.5em;
	background: #fff;
	position: relative;
	top: -0.01em;
}
#navegacao li.nav__active::before {
	width: 2em;
	background: #f7b823;
}
#navegacao li a{
	transition: all 0.4s;
	opacity: 0;
}
#navegacao li.nav__active a {
	opacity: 1;
}
#navegacao li:hover a{
	opacity: 1;
}

.nav__active {
	color: #f7b823;
}

#mercado {
    width: 80%;
    padding: 0 !important;
}



#myModal {
	width: 300px;
	height: 150px;
	overflow: visible;
	position: relative;
	border-radius: 10px;
	background: linear-gradient(to right, #222b3c,#106579);
}
#myModal div {
	position: absolute;
	width: 100%;
	height: 90%;
	top: 0;
	left: 0;
	background-color: #fff;
	font-size: 22px;
	color: #142f4c;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	border-radius: 10px;
}
#myModal div i {
	font-size: 50px;
	margin-bottom: 15px;
}
.cp {
	background: #e1e1e1;
	height: 10vh;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	position: relative;
}
.cp p {
	position: absolute;
	top: 10px;
	padding: 0;
}
/* #whatsimg {
	position: fixed;
	height: 45px;
	width: 45px;
	top: calc(50vh + 114px);
	left: 5px;
	box-shadow: none;
	z-index: 50;
	cursor: pointer;
} */
#btn-saiba-mais{
	display: none;
	position: fixed;
	bottom: 75px;
	right: 15px;
	width: 45px;
	height: 45px;
	padding-right: 20px;
	border-radius: 45px;
	background: linear-gradient(to right, #fcca3a, #f4a04b);
	z-index: 50;
}
@media (max-width: 768px) {

	#btn-saiba-mais{
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		font-weight: 400;
	}

	#btn-saiba-mais a{
		display: block;
		width: 0;
		height: 0;
		overflow: hidden;
	}

	#btn-saiba-mais img{
		position: absolute;
		right: 12px;
		
	}

	/* #whatsimg {
		top: auto;
		left: auto;
		right: 15px;
		bottom: 15px;
	} */
	.cp {
		height: 9em;
    	padding: 30px 0;
	}
	.cp p {
	    padding: 0px 30px;
    	text-align: center;
	}
	#svg1 {
		top: -40px;
		position: relative;

	}
	#chamada1 h2 {
    	font-size: 30px;
	}
	#navegacao {
		display: none;
	}
	.svg__container svg, .svg__container .svg{
		width: 105vw;
	}
	section {
		padding-right: 10px;
	}
	#pqpi img {
		width: 100%;

	}
	.contprog__img {
		height: auto;
		width: 100%;
	}
	section > * {
		padding-left: 20px;
	}
	.info__card{
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 30px;
	}
	.info__card > div:nth-of-type(3) {
		width: 100%;
		align-items: flex-end;
		height: 50px;
		margin-bottom: 5px;
	}
	.card__detail{
		margin: 0;
	}
	.card__detail::after {
		top: -50px;
		margin: 0;
		width: 2px;
		height: 50px;
		right: 4px;
	}
	.info__card div:nth-of-type(4) {
		height: auto;	
	}
	#header {
		background-size: auto 100%;
		flex-direction: column;
		height: 90vh;
	    align-items: center;
	    padding-top: 80px;
    	padding-bottom: 50px;
	    justify-content: center;
	    align-content: flex-end;
	}
	#pqpi .columns {
		/*margin-top: 10px;*/
	}
	#header img {
		order: 1;
		box-sizing: content-box;
	    height: auto;
	    width: 100vw;
	    margin-bottom: 20px;
	}

	#title{
		order: 2;
		font-size: 24px;
		padding-left:0;
		margin: 0;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	#btn__1{
		margin-top: 20px;
		min-height: 38px;
	}
	.slick-center ,.slick-center * {
		opacity: 1 !important;
    	color: #fff;
	}
	.slick-dots li {
	    position: relative;
	    display: inline-block;
	    width: 70px;
	    height: 20px;
	    margin: 0 5px;
	    padding: 0;
	    cursor: pointer;
	}

	.slick-dots li button {
	    font-size: 0;
	    line-height: 0;
	    display: block;
	    width: 20px;
	    height: 20px;
	    padding-left: 0px;
	    cursor: pointer;
	    color: transparent;
	    border: 0;
	    outline: none;
	    background: transparent;
	}

  #columns{
    background-color: #15459c ;
  }
	.info__cursos{
		padding: 0;
		padding-top: 30px;
    	z-index: 10;
	}
	.info__titulo {
		width: 80%;
		font-size: 24px;
	}
	.info__titulo,.info__titulo * {
	    opacity: 0.6;
	    transition: all 300ms ease;
	    color: #ddd;
	}
	
	.slick-dots li button:before {
	    content: '';
	    font-size: 22px;
	    line-height: 20px;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 60px;
	    margin-top:20px;
	    height: 4px;
	    text-align: center;
	    opacity: .5;
	    color: black;
	    background:#b4b4b4;
	}

	.slick-active button:before {
		background: #333333 !important;
		opacity: 1 !important;
	}
	ul.slick-dots {
		display: flex;
		justify-content: center;
	}
	#vantagens img {
		height: 50px;
	}
  #header2{background-color: white;padding: 0;}   

  }
	
/*  .column{
		margin-bottom: 40px;*/
	}
	.vant__titles {
		display: inline-block;
		margin-left: 30px;
		margin-bottom: 15px;
	}
	#btn__web, #btn__ds {
		width: 180px;
		font-size: 14px;
	}
	
}
#info__card__holder{
		position: relative;
	}
	#course__transition{
		position: absolute;
		left: 250px;
		height: 100%;
		background-color: #f5f5f5;
		/* border: 1px solid black; */
		z-index: 49;
	}

  

.name{text-align: center;margin: 2vh 0; font-family: Montserrat;}


.container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
}

.agrupamento{
  display:flex;
  flex-direction: column;
  margin: 3vh 0;

}


.all{padding-top: 10vh;	display: flex;
	flex-direction: column;
}

.videoex{
	width: 100vw;
	height: 20vh;
	background-color: #ffdd00 ;
	text-align: center;


}

.name:hover{
	color: red;
	transform: translate(5px,5px);
	transform:rotateX(360deg);
	
	transition: transform 2s;


}

.itemvideo{}

.itemvideo:hover{	transform: translate(5px,5px);
	transform:rotateX(360deg);
	transform: scale(1.07);
	transition: transform 2s;


}

