*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
}

body {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
}

#navbar {
    position: fixed;
    z-index: 100;
    background-image: linear-gradient(to right, #0575e6 , #000046);

}

.navbar-itens:hover {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

#title {
    position: relative;
    margin: auto;
    padding: auto;
}

#title:hover {
    text-decoration: none;
    color: inherit;
    text-align: center;
    cursor: default;
}

#logo {
    position: relative;
    height: 80%;
    width: auto;
    top: -8%;
    left: 0.5%;
}

#pre-car {
    background-color: white;
    width: 100vw;
    height: 100vh;
}

.carrossel {
    position: relative;
    left: 10%;
    top: 15%;
    width: 80vw;
    height: 70vh;
    background-color: #000046;
}

.img-car {
    width: 80vw;
    height: 70vh;
    z-index: 67;
}

.cards {
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
    align-items: flex-end;
    padding-left: 4%;
    margin-right: 4%;
    background-color: #f6f6f6;
}

.cards-left {
    position: relative;
    height: 100vh;
    width: 50vw;
    padding-left: 20%;
}

.cards-right {
    height: 100vh;
    width: 50vw;
    justify-content: right;
    padding-left: 50px;
}

.cartao {
    width: 472px;
    height: 221.750px;
    margin-top: 50px;
    background-color: ghostwhite;

}

.bt-cartao {
    position: relative;
    left: 18%;
    top: 20px;
    box-shadow: 5px 5px 15px #c2c2c2;
    color: whitesmoke;
    font-weight: bold;
    transition: 1s;
}

.bt-cartao:hover {
    color: whitesmoke;
    transform: translate(5px, 5px);
    box-shadow: none;
    transition: 1s;
}

#bt-fichas {
    background: linear-gradient(to right, #669AD2, #A98DC1);
}

#bt-videos {
       background: linear-gradient(to right, #a17573, #d68072);
}

#bt-relatorio {
    background: linear-gradient(to right, #ecd647, #dc9a43);
}

#bt-contato {
    background: linear-gradient(to right, #27B5B5, #5F958B);
}

#img-video {
    position: relative;
    top: 3%;
    height: 34%;
    width: auto;
}

#img-fichas {
    position: relative;
    top: 18%;
}

#img-contato {
    position: relative;
    height: 31%;
    width: auto;
    top: 3%;
}

#img-relatorios {
    position: relative;
    height: 88%;
    width: auto;
    left: 6%;
    top: 18%;
}

#header-utilidades {
    text-align: center;
    font-weight: bold;
    font-size: 300%;
    position: relative;
    padding: auto;
    margin: auto;
}

#main2 {
    background-color: #f6f6f6 ;
}
