{% extends "base.html" %}

{% block head %}

    {% load static %}
  
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PQZB6GR');</script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview');
    
  </script>
  
  <!-- End Google Tag Manager -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:1069397,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  <link rel="shortcut icon" type="image/png" href="/assets/lets-code-logo-site.png"/>
  <title>Fichas | Física 1º Ano</title>
  <meta name="description" content="Curso presencial de Data Science e Web Full Stack de 700 horas por R$900/mês.">

  <link rel="canonical" href="https://letscode-academy.com//pi_ds.html">
  <link rel="preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <link rel="preload" as="font" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">

  <link rel="preconnect" href="https://cdnjs.cloudflare.com/">
  <link rel="preconnect" href="https://cdn.jsdelivr.net">
  <link rel="preconnect" href="https://ajax.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com/">

  <link rel="stylesheet" href="/css/bootstrap-grid.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static "files_style.css" %}">
    

{% endblock %}

{% block content %}

<style type="text/css">
  * {
    font-family: 'Montserrat', sans-serif;
  }
  body {
    background: #f5f5f5;
    position: relative;
    overflow-x: hidden;
  }

  html {
    scroll-behavior: smooth;
  }


</style>



<nav id="navegacao" class="scroll-nav">
    <ul class="scroll-nav__list"></ul>
    <li class="scroll-nav__item nav__active">
      <a class="scroll-nav__link" href="#1periodo">
        1º Período
			</a>
    </li>

    <li class="scroll-nav__item">
      <a class="scroll-nav__link" href="#2periodo">
        2º Período
			</a>
    </li>

      <li class="scroll-nav__item">
        <a class="scroll-nav__link" href="#3periodo">
          3º Período
  			</a>
      </li>

     
  </ol>
</nav>

<div id="btn-saiba-mais" data-active="inactive">
	<a href="#trello">Entre em contato</a><img src="/assets/pi/plus.png" alt="">
</div>


<div  class='olas' id="1periodo">   

<section id="header" class="cwhite">

	<h1 class="titulo">Fichas</h1><br>

  <!-- <img src="beth.png">	
		 -->

	<div id="svg1" class="svg__container svg__bottom">
		<svg version="1.1"  viewBox="0 0 1917.8 156.2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="enable-background:new 0 0 1917.8 156.2;" xml:space="preserve">
			<style type="text/css">
			.st0{opacity:1;}
			.st1{fill:#bfbfbe;}
			.st2{fill:#e1e1e1;}
		</style>
		<g class="st0">
			<path class="st1" d="M771.2,15.2c-60.6,5.5-61.9-11-121.1,0c-12.7,2.4-24.6,5.2-36.2,8.1C708.3,65,842.3,17.2,914.2,4.1
			C824.4,0.5,826.6,10.1,771.2,15.2z" style="fill: #B3A100;" />
			<path class="st1" d="M1409.9,20.7c-84,1.4-129.4-2.8-207.9-11c-59.4-6.3-110.1-1.5-182.7-1.8c35.7,3.2,72.7,7.8,108.3,19.9
			c67.8,23,112.9-9.7,161.1,5.5s101.7,31.3,187,1c9-3.2,19.1-5.4,30-6.7C1480.1,22,1451.4,20,1409.9,20.7z"style="fill: #B3A100;"/>
			<path class="st1" d="M418.3,37.6c2.7,0.9,5.4,1.8,8.3,2.7c31.8,10.4,59.9,6.6,85.7-2.6c-3.3-0.5-6.6-0.9-10-1.4
			C430.6,25.4,427.4,34.4,418.3,37.6z"style="fill: #B3A100;"/>
			<path class="st1" d="M171,30.4c-53.7,19.1-42.7,1.6-77.1,0s-82.6,8-95,9.4v8.3c107.3,26.8,205.9-3,269.1-24.9
			C231.8,11.3,212.9,15.5,171,30.4z"style="fill: #B3A100;"/>
			<path class="st1" d="M1785.7,67.5c41.3,2.8,132.1,15.6,132.1,15.6v-17C1917.8,66.1,1815.9,60.6,1785.7,67.5z"style="fill: #B3A100;"/>
		</g>
		<path class="st2" d="M1917.8,83c0,0-90.9-12.8-132.1-15.6c-41.3-2.8-224.6-63.5-309.9-33.2s-138.8,14.1-187-1s-93.3,17.5-161.1-5.5
		c-59.9-20.2-123.9-19.4-179-26.3S743.9,55.2,616.5,21.5C536.3,0.3,497.6,63.2,426.4,39.8S287.9,13,245.4,26.7
		C182.8,47,94.9,67.7,0,44.3v111.9h1918" style="fill: #ffdd00;" />
	</svg>
</div>
</section>
<section class="cp"  style="background-color: #ffdd00">
	<p class="periodo" ><strong>1º Período</strong></p>
	<div class="svg__container svg__bottom">
		<svg version="1.1" id="Camada_20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="enable-background:new 0 0 1917.8 86.4;" xml:space="preserve">
			<style type="text/css">
			.st40{fill:#f5f5f5;}
		</style>
		<g>
			<path class="st40" d="M1.7,76.2l-2.7-46c0,0,101.9,5.5,132.1-1.4s126.1-19.2,189-1.6c64.5,18,105.5-0.6,189.5-2s129.4,2.8,207.9,11
			s141.8-2.8,260.2,4.1s110.1-4.1,170.7-9.6s61.9,11,121.1,0s86-16,157.6-5s139.3-15.5,198-3c70.5,15,64.6,8.8,121.5,6
			c60-3,54.1,1.4,88.5,3s73.1-20.2,85.5-21.6v66.1H1.7z" />
		</g>
	</svg>
</section>


<section id="pqpi">
  
<div class="columns">
  <div class="column">
    
    <div class="cyellow font-title vant__titles" class="minititulo">M.R.U. / M.R.U.V.</div>
     <br>
                <div><a href="" class="itemficha">Ficha 1</a></div>
                <br>
                <div><a href="" class="itemficha">Exercícios extra - conversão de unidades (gabarito)</a></div>
                <br>
                <div><a href="" class="itemficha">Ficha 3</a></div>
                <br>
                <div><a href="" class="itemficha">Ficha 3 - MRU, MRUV, MUV</a></div>
                <br>

  <div class="svg__container svg__bottom">
      <svg version="1.1" id="Camada_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="enable-background:new 0 0 1917.8 86.4;" xml:space="preserve">
        <style type="text/css">
        .st10{fill:#333333;}
      </style>
      <g>
        <path class="st10" d="M1.7,76.2l-2.7-46c0,0,101.9,5.5,132.1-1.4s126.1-19.2,189-1.6c64.5,18,105.5-0.6,189.5-2s129.4,2.8,207.9,11
        s141.8-2.8,260.2,4.1s110.1-4.1,170.7-9.6s61.9,11,121.1,0s86-16,157.6-5s139.3-15.5,198-3c70.5,15,64.6,8.8,121.5,6
        c60-3,54.1,1.4,88.5,3s73.1-20.2,85.5-21.6v66.1H1.7z"  style='fill: #15459c;'/>
      </g>
    </svg>
  </div>
  </section>




<section id="vantagens" class="bgray">
<div class="columns">
  <div class="column">
    
    <div class="cyellow font-title vant__titles">VETORES</div>
                <br>
                <div><a href=""  class="cwhite" >Ficha 1</a></div>
                <br>
                <div><a href=""   class="cwhite" >Ficha 2 - Sorvetão e suas aplicações</a></div>
                <br>
                <div><a href=""  class="cwhite" >Ficha 3 - MRU, MRUV, MUV</a></div>
                <br>
                <div><a href=""  class="cwhite" >Ficha 3 - MRU, MRUV, MUV</a></div>
                <br>

</section>

<section id="faq__section">
	<div class="svg__container svg__top">
		<svg version="1.1" id="Camada_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		style="enable-background:new 0 0 1917.8 73.3;" xml:space="preserve">
		<style type="text/css">
			.st20{fill:#343434;}
		</style>
		<g>
			<path class="st20" d="M1919.5,6.7l-0.2,53.1c0,0-81.5-2.4-111.8,4.5c-30.3,6.9-109.5-16.5-201-4.5c-64.7,8.5-115-3.6-199-2.2
			c-84,1.4-142.6,7.5-221-0.8s-123.1,6.9-241.5,0s-49.5-10.5-176.2-4.7c-60.8,2.8-71.3-7.3-121.1,0c-59.6,8.7-53.9,9.9-133.2,12.2
			c-72.4,2.1-78.3-11-114-12c-54-1.5-82.5,10.5-130.5,0c-67.2-14.7-60.1,2.2-117,4.5c-62.1,2.5-48.1-4.4-82.5-6
			C36.2,49.3,12.1,49.6-0.3,51L-0.8,6.7H1919.5z" style="fill:#15459c  " />
		</g>
	</svg>
	</div>

	<div style="position: relative;">
		
		<div class="columns">
  <div class="column">
    
    <div class="cyellow font-title vant__titles" class="minititulo">VETORES</div>
     <br>
                <div><a href="" class="itemficha">Ficha 1</a></div>
                <br>
                <div><a href="" class="itemficha">Ficha 2 - Sorvetão e suas aplicações</a></div>
                <br>
                <div><a href="" class="itemficha">Ficha 3 - MRU, MRUV, MUV</a></div>
                <br>
                <div><a href="" class="itemficha">Ficha 3 - MRU, MRUV, MUV</a></div>
                <br>
</section>
</div>




</div>

</div>

<div class='olas' id="2periodo" >
<section id="header2">
 
    

  
  <div id="svg1" class="svg__container svg__bottom">
    <svg version="1.1"  viewBox="0 0 1917.8 156.2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="enable-background:new 0 0 1917.8 156.2;" xml:space="preserve">
      <style type="text/css">
      .st0{opacity:1;}
      .st1{fill:#bfbfbe;}
      .st2{fill:#e1e1e1;}
    </style>
    <g class="st0">
      <path class="st1" d="M771.2,15.2c-60.6,5.5-61.9-11-121.1,0c-12.7,2.4-24.6,5.2-36.2,8.1C708.3,65,842.3,17.2,914.2,4.1
      C824.4,0.5,826.6,10.1,771.2,15.2z" style="fill: #B3A100;" />
      <path class="st1" d="M1409.9,20.7c-84,1.4-129.4-2.8-207.9-11c-59.4-6.3-110.1-1.5-182.7-1.8c35.7,3.2,72.7,7.8,108.3,19.9
      c67.8,23,112.9-9.7,161.1,5.5s101.7,31.3,187,1c9-3.2,19.1-5.4,30-6.7C1480.1,22,1451.4,20,1409.9,20.7z"style="fill: #B3A100;"/>
      <path class="st1" d="M418.3,37.6c2.7,0.9,5.4,1.8,8.3,2.7c31.8,10.4,59.9,6.6,85.7-2.6c-3.3-0.5-6.6-0.9-10-1.4
      C430.6,25.4,427.4,34.4,418.3,37.6z"style="fill: #B3A100;"/>
      <path class="st1" d="M171,30.4c-53.7,19.1-42.7,1.6-77.1,0s-82.6,8-95,9.4v8.3c107.3,26.8,205.9-3,269.1-24.9
      C231.8,11.3,212.9,15.5,171,30.4z"style="fill: #B3A100;"/>
      <path class="st1" d="M1785.7,67.5c41.3,2.8,132.1,15.6,132.1,15.6v-17C1917.8,66.1,1815.9,60.6,1785.7,67.5z"style="fill: #B3A100;"/>
    </g>
    <path class="st2" d="M1917.8,83c0,0-90.9-12.8-132.1-15.6c-41.3-2.8-224.6-63.5-309.9-33.2s-138.8,14.1-187-1s-93.3,17.5-161.1-5.5
    c-59.9-20.2-123.9-19.4-179-26.3S743.9,55.2,616.5,21.5C536.3,0.3,497.6,63.2,426.4,39.8S287.9,13,245.4,26.7
    C182.8,47,94.9,67.7,0,44.3v111.9h1918" style="fill: #ffdd00;" />
  </svg>
</div>
</section>
<section class="cp"  style="background-color: #ffdd00">
  <p class="periodo" ><strong>2º Período</strong></p>
  <div class="svg__container svg__bottom">
    <svg version="1.1" id="Camada_20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="enable-background:new 0 0 1917.8 86.4;" xml:space="preserve">
      <style type="text/css">
      .st40{fill:#f5f5f5;}
    </style>
    <g>
      <path class="st40" d="M1.7,76.2l-2.7-46c0,0,101.9,5.5,132.1-1.4s126.1-19.2,189-1.6c64.5,18,105.5-0.6,189.5-2s129.4,2.8,207.9,11
      s141.8-2.8,260.2,4.1s110.1-4.1,170.7-9.6s61.9,11,121.1,0s86-16,157.6-5s139.3-15.5,198-3c70.5,15,64.6,8.8,121.5,6
      c60-3,54.1,1.4,88.5,3s73.1-20.2,85.5-21.6v66.1H1.7z" />
    </g>
  </svg>
  </div>
</section>


<section id="pqpi">
  <div class="columns">
    <div id="chamada1" class="column">

<div class="columns">
  <div class="column">
    
    <div class="cyellow font-title vant__titles" class="minititulo">VETORES</div>
     <br>
                <div><a href="" class="itemficha">Ficha 1</a></div>
                <br>
                <div><a href="" class="itemficha">Ficha 2 - Sorvetão e suas aplicações</a></div>
                <br>
                <div><a href="" class="itemficha">Ficha 3 - MRU, MRUV, MUV</a></div>
                <br>
                <div><a href="" class="itemficha">Ficha 3 - MRU, MRUV, MUV</a></div>
                <br>
  

  <div class="svg__container svg__bottom">
      <svg version="1.1" id="Camada_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="enable-background:new 0 0 1917.8 86.4;" xml:space="preserve">
        <style type="text/css">
        .st10{fill:#333333;}
      </style>
      <g>
        <path class="st10" d="M1.7,76.2l-2.7-46c0,0,101.9,5.5,132.1-1.4s126.1-19.2,189-1.6c64.5,18,105.5-0.6,189.5-2s129.4,2.8,207.9,11
        s141.8-2.8,260.2,4.1s110.1-4.1,170.7-9.6s61.9,11,121.1,0s86-16,157.6-5s139.3-15.5,198-3c70.5,15,64.6,8.8,121.5,6
        c60-3,54.1,1.4,88.5,3s73.1-20.2,85.5-21.6v66.1H1.7z" style="fill:#15459c  " />
      </g>
    </svg>
  </div>
  </section>




<section id="vantagens" class="bgray">
<div class="columns">
  <div class="column">
    
    <div class="cyellow font-title vant__titles">VETORES</div>
                <br>
                <div><a href=""  class="cwhite" >Ficha 1</a></div>
                <br>
                <div><a href=""   class="cwhite" >Ficha 2 - Sorvetão e suas aplicações</a></div>
                <br>
                <div><a href=""   class="cwhite" >Ficha 3 - MRU, MRUV, MUV</a></div>
                <br>
                <div><a href="" class="cwhite" >Ficha 3 - MRU, MRUV, MUV</a></div>
                <br>
  </div>
</section>

<section id="faq__section">
  <div class="svg__container svg__top">
    <svg version="1.1" id="Camada_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    style="enable-background:new 0 0 1917.8 73.3;" xml:space="preserve">
    <style type="text/css">
      .st20{fill:#343434;}
    </style>
    <g>
      <path class="st20" d="M1919.5,6.7l-0.2,53.1c0,0-81.5-2.4-111.8,4.5c-30.3,6.9-109.5-16.5-201-4.5c-64.7,8.5-115-3.6-199-2.2
      c-84,1.4-142.6,7.5-221-0.8s-123.1,6.9-241.5,0s-49.5-10.5-176.2-4.7c-60.8,2.8-71.3-7.3-121.1,0c-59.6,8.7-53.9,9.9-133.2,12.2
      c-72.4,2.1-78.3-11-114-12c-54-1.5-82.5,10.5-130.5,0c-67.2-14.7-60.1,2.2-117,4.5c-62.1,2.5-48.1-4.4-82.5-6
      C36.2,49.3,12.1,49.6-0.3,51L-0.8,6.7H1919.5z" style="fill:#15459c  " />
    </g>
  </svg>
  </div>

  <div style="position: relative;">
    
    <div class="columns">
  <div class="column">
    
    <div class="cyellow font-title vant__titles" class="minititulo">VETORES</div>
     <br>
                <div><a href="" class="itemficha">Ficha 1</a></div>
                <br>
                <div><a href="" class="itemficha">Ficha 2 - Sorvetão e suas aplicações</a></div>
                <br>
                <div><a href="" class="itemficha">Ficha 3 - MRU, MRUV, MUV</a></div>
                <br>
                <div><a href="" class="itemficha">Ficha 3 - MRU, MRUV, MUV</a></div>
                <br>

</section>
</div>




</div>
</div>


<div class='olas' id="3periodo">
<section id="header2">
 
    

  
  <div id="svg1" class="svg__container svg__bottom">
    <svg version="1.1"  viewBox="0 0 1917.8 156.2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="enable-background:new 0 0 1917.8 156.2;" xml:space="preserve">
      <style type="text/css">
      .st0{opacity:1;}
      .st1{fill:#bfbfbe;}
      .st2{fill:#e1e1e1;}
    </style>
    <g class="st0">
      <path class="st1" d="M771.2,15.2c-60.6,5.5-61.9-11-121.1,0c-12.7,2.4-24.6,5.2-36.2,8.1C708.3,65,842.3,17.2,914.2,4.1
      C824.4,0.5,826.6,10.1,771.2,15.2z" style="fill: #B3A100;" />
      <path class="st1" d="M1409.9,20.7c-84,1.4-129.4-2.8-207.9-11c-59.4-6.3-110.1-1.5-182.7-1.8c35.7,3.2,72.7,7.8,108.3,19.9
      c67.8,23,112.9-9.7,161.1,5.5s101.7,31.3,187,1c9-3.2,19.1-5.4,30-6.7C1480.1,22,1451.4,20,1409.9,20.7z"style="fill: #B3A100;"/>
      <path class="st1" d="M418.3,37.6c2.7,0.9,5.4,1.8,8.3,2.7c31.8,10.4,59.9,6.6,85.7-2.6c-3.3-0.5-6.6-0.9-10-1.4
      C430.6,25.4,427.4,34.4,418.3,37.6z"style="fill: #B3A100;"/>
      <path class="st1" d="M171,30.4c-53.7,19.1-42.7,1.6-77.1,0s-82.6,8-95,9.4v8.3c107.3,26.8,205.9-3,269.1-24.9
      C231.8,11.3,212.9,15.5,171,30.4z"style="fill: #B3A100;"/>
      <path class="st1" d="M1785.7,67.5c41.3,2.8,132.1,15.6,132.1,15.6v-17C1917.8,66.1,1815.9,60.6,1785.7,67.5z"style="fill: #B3A100;"/>
    </g>
    <path class="st2" d="M1917.8,83c0,0-90.9-12.8-132.1-15.6c-41.3-2.8-224.6-63.5-309.9-33.2s-138.8,14.1-187-1s-93.3,17.5-161.1-5.5
    c-59.9-20.2-123.9-19.4-179-26.3S743.9,55.2,616.5,21.5C536.3,0.3,497.6,63.2,426.4,39.8S287.9,13,245.4,26.7
    C182.8,47,94.9,67.7,0,44.3v111.9h1918" style="fill: #ffdd00;" />
  </svg>
</div>
</section>
<section class="cp"  style="background-color: #ffdd00">
  <p class="periodo" ><strong>3º Período</strong></p>
  <div class="svg__container svg__bottom">
    <svg version="1.1" id="Camada_20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="enable-background:new 0 0 1917.8 86.4;" xml:space="preserve">
      <style type="text/css">
      .st40{fill:#f5f5f5;}
    </style>
    <g>
      <path class="st40" d="M1.7,76.2l-2.7-46c0,0,101.9,5.5,132.1-1.4s126.1-19.2,189-1.6c64.5,18,105.5-0.6,189.5-2s129.4,2.8,207.9,11
      s141.8-2.8,260.2,4.1s110.1-4.1,170.7-9.6s61.9,11,121.1,0s86-16,157.6-5s139.3-15.5,198-3c70.5,15,64.6,8.8,121.5,6
      c60-3,54.1,1.4,88.5,3s73.1-20.2,85.5-21.6v66.1H1.7z" />
    </g>
  </svg>
</section>


<section id="pqpi">
  <div class="columns">
    <div id="chamada1" class="column">

<div class="columns">
  <div class="column">
    
    <div class="cyellow font-title vant__titles" class="minititulo">VETORES</div>
     <br>
                <div><a href="" class="itemficha">Ficha 1</a></div>
                <br>
                <div><a href="" class="itemficha">Ficha 2 - Sorvetão e suas aplicações</a></div>
                <br>
                <div><a href="" class="itemficha">Ficha 3 - MRU, MRUV, MUV</a></div>
                <br>
                <div><a href="" class="itemficha">Ficha 3 - MRU, MRUV, MUV</a></div>
                <br>
  

  <div class="svg__container svg__bottom">
      <svg version="1.1" id="Camada_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="enable-background:new 0 0 1917.8 86.4;" xml:space="preserve">
        <style type="text/css">
        .st10{fill:#333333;}
      </style>
      <g>
        <path class="st10" d="M1.7,76.2l-2.7-46c0,0,101.9,5.5,132.1-1.4s126.1-19.2,189-1.6c64.5,18,105.5-0.6,189.5-2s129.4,2.8,207.9,11
        s141.8-2.8,260.2,4.1s110.1-4.1,170.7-9.6s61.9,11,121.1,0s86-16,157.6-5s139.3-15.5,198-3c70.5,15,64.6,8.8,121.5,6
        c60-3,54.1,1.4,88.5,3s73.1-20.2,85.5-21.6v66.1H1.7z" style="fill:#15459c  " />
      </g>
    </svg>
  </div>
  </section>




<section id="vantagens" class="bgray">
<div class="columns">
  <div class="column">
    
    <div class="cyellow font-title vant__titles">VETORES</div>
                <br>
                <div><a href=""  class="cwhite" >Ficha 1</a></div>
                <br>
                <div><a href=""  class="cwhite" >Ficha 2 - Sorvetão e suas aplicações</a></div>
                <br>
                <div><a href=""  class="cwhite" >Ficha 3 - MRU, MRUV, MUV</a></div>
                <br>
                <div><a href=""  class="cwhite" >Ficha 3 - MRU, MRUV, MUV</a></div>
                <br>

</section>

<section id="faq__section">
  <div class="svg__container svg__top">
    <svg version="1.1" id="Camada_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    style="enable-background:new 0 0 1917.8 73.3;" xml:space="preserve">
    <style type="text/css">
      .st20{fill:#343434;}
    </style>
    <g>
      <path class="st20" d="M1919.5,6.7l-0.2,53.1c0,0-81.5-2.4-111.8,4.5c-30.3,6.9-109.5-16.5-201-4.5c-64.7,8.5-115-3.6-199-2.2
      c-84,1.4-142.6,7.5-221-0.8s-123.1,6.9-241.5,0s-49.5-10.5-176.2-4.7c-60.8,2.8-71.3-7.3-121.1,0c-59.6,8.7-53.9,9.9-133.2,12.2
      c-72.4,2.1-78.3-11-114-12c-54-1.5-82.5,10.5-130.5,0c-67.2-14.7-60.1,2.2-117,4.5c-62.1,2.5-48.1-4.4-82.5-6
      C36.2,49.3,12.1,49.6-0.3,51L-0.8,6.7H1919.5z" style="fill:#15459c  " />
    </g>
  </svg>
  </div>

  <div style="position: relative;">
    
    <div class="columns">
    <div class="column">
    
    <div class="cyellow font-title vant__titles" class="minititulo">VETORES</div>
     <br>
                <div><a href="" class="itemficha">Ficha 1</a></div>
                <br>
                <div><a href="" class="itemficha">Ficha 2 - Sorvetão e suas aplicações</a></div>
                <br>
                <div><a href="" class="itemficha">Ficha 3 - MRU, MRUV, MUV</a></div>
                <br>
                <div><a href="" class="itemficha">Ficha 3 - MRU, MRUV, MUV</a></div>
                <br>
</section>
  </div>




      </div>
</div>



<script type="text/javascript">
  var sections = $('.olas')
    , nav = $('nav.scroll-nav')
    , nav_height = nav.outerHeight();
   
  $(window).on('scroll', function () {
    var cur_pos = $(this).scrollTop();
   
    sections.each(function() {
      var top = $(this).offset().top - nav_height - 200,
          bottom = top + $(this).outerHeight();
   
      if (cur_pos >= top && cur_pos <= bottom) {
        nav.find('li').removeClass('nav__active');
        nav.find('a[href="#'+$(this).attr('id')+'"]').parent('li').addClass('nav__active');
      }
    });
  });

</script>

{% endblock %}
