{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% load static %}
        <meta charset="UTF-8">
        <title>Home</title>

        {#  Links Slick  #}
        <link rel="stylesheet" href="{% static "slick_arquivos/css/slick-theme.css" %}">
        <link rel="stylesheet" href="{% static "slick_arquivos/css/slick.css" %}">
        <link rel="stylesheet" href= "{% static "home_style.css" %}">

    {% endblock %}
</head>
<body>

    {% block content %}

        {#  Slick  #}
            <div class="fase" id="fase1">
                <div class="slick-container">
                    <div class="slick-item"><img src="https://cdn.hswstatic.com/gif/apollo-17.jpg" alt=""></div>
                    <div class="slick-item"><img src="{% static "/imagens/newton_img.jpg" %}" alt=""></div>
                    <div class="slick-item"><img src="https://cdn.wallpapersafari.com/66/27/MV6td5.jpg" alt=""></div>

                </div>
            </div>

        {#  Cards  #}

            <div class="fase" id="fase2">
                <img src="{% static "/imagens/triangulo.png" %}" alt="" id="triangulo">
                <div id="bolinhas"></div>

                <h2 id="title-2">Utilidades</h2>

                <div class="cards-container flex-wrap">
                    <div class="cards" id="card1">
                        <img class="icons" src="{% static "imagens/fichas.png" %}" alt="">
                         <div class="card-semi">
                             <h4 class="card-title">Fichas</h4>
                             <p class="card-text">Aqui, você encontrará todas as fichas necessárias.</p>
                             <a class="btn btncursos btndsia btn__active bt-cartao" href="/fichas" id="bt-fichas">Saiba Mais</a>
                         </div>
                         <div class="faixa" id="faixa1"></div>
                    </div>

                    <div class="cards" id="card2">
                        <img class="icons" src="{% static "imagens/videos.png" %}" alt="">
                        <div class="card-semi">
                            <h4 class="card-title">Vídeos</h4>
                            <p class="card-text">Aqui, você encontrará todos os vídeos disponibilizados.</p>
                            <a class="btn btncursos btndsia btn__active bt-cartao" href="/videos" id="bt-videos">Saiba Mais</a>
                        </div>
                        <div class="faixa" id="faixa2"></div>
                    </div>

                    <div class="cards" id="card3">
                        <img class="icons" src="{% static "imagens/aulas.png" %}" alt="">
                        <div class="card-semi">
                            <h4 class="card-title">Aulas</h4>
                            <p class="card-text">Aqui, você encontrará todas as aulas disponibilizadas.</p>
                            <a class="btn btncursos btndsia btn__active bt-cartao" href="/" id="bt-relatorio">Saiba Mais</a>
                        </div>
                        <div class="faixa" id="faixa3"></div>
                    </div>

                    <div class="cards" id="card4">
                        <img class="icons" src="{% static "/imagens/contatos.png" %}" alt="">
                        <div class="card-semi">
                            <h4 class="card-title">Contato</h4>
                            <p class="card-text">Aqui, você encontrará todo tipo de contato necessário.</p>
                            <a class="btn btncursos btndsia btn__active bt-cartao" href="/contatos/" id="bt-contato">Saiba Mais</a>
                        </div>
                        <div class="faixa" id="faixa4"></div>
                    </div>

                </div>

            </div>



        {#  JavaScript  #}

            <script src="{% static "/slick_arquivos/js/jquery-3.4.1.js" %}"></script>
            <script src="{% static "/slick_arquivos/js/slick.js" %}"></script>
            <script src="{% static "/particles/particles.js" %}"></script>
            <script src="{% static "/particles/app.js" %}"></script>

            <script>
                $(document).ready(function () {
                    $(".slick-container").slick({
                        dots: true,
                        arrows: true,
                        autoplay: true,
                        autoplaySpeed: 5000,
                        slidesToShow: 1,
                        centerMode: true,
                        centerPadding: "5vw",
                        infinite: true,
                        prevArrow: "<a id='seta-esquerda'><img  src='{% static 'imagens/seta-esquerda.png' %}'></a>",
                        nextArrow: "<a id='seta-direita'><img src='{% static 'imagens/seta-direita.png' %}'></a>"

                    });
                });
            </script>


    {% endblock %}



</body>
</html>