{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% load static %}
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href= "{% static "home_style.css" %}">

        {#  Links Slick  #}
        <link rel="stylesheet" href="{% static "slick_arquivos/css/slick.css" %}">
        <link rel="stylesheet" href="{% static "slick_arquivos/css/slick-theme.css" %}">

    {% endblock %}
</head>
<body>

    {% block content %}

        {#  Slick  #}

            <div class="slick-container">
                <div class="slick-item"><img src="" alt=""></div>
                <div class="slick-item"><img src="" alt=""></div>
                <div class="slick-item"><img src="" alt=""></div>
            </div>

        {#  Cards  #}


        {#  JavaScript  #}

            <script src="{% static "/slick_arquivos/js/jquery-3.4.1.js" %}"></script>
            <script src="{% static "/slick_arquivos/js/slick.js" %}"></script>

            <script>
                $(document).ready(function () {
                    $(".slick-container").slick({
                        dots: true,
                        arrows: true,
                        autoplay: true,
                        autoplaySpeed: 5000,
                        slidesToShow: 1,
                        centerMode: true,
                        centerPadding: "5vw"
                    });
                });
            </script>



    {% endblock %}



</body>
</html>