{% extends "base.html" %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% block head  %}
    <meta charset="UTF-8">
    <title>Query</title>
    {% load embed_video_tags %}
    {% load static %}
    <link rel="stylesheet" href="{% static "video_style.css" %}">
    <style>

        body {
            height: 95vh;
        }

        #tudo {
            padding-top: 3vh;
            padding-left: 1vw;

        }

        .site-footer {
            position: absolute;
            bottom: 0;
        }

    </style>
    {% endblock %}
</head>
<body>

{% block content %}

<div id="tudo">

    <h3>Pesquisar uma ficha:</h3>

        <form class="form-inline">
            <input class="form-control mr-sm-2"
                   type="search" placeholder="Search"
                   aria-label="Search"
                   name="search">
            <input name="Document" list="document" placeholder="Escolha o tipo de arquivo">
            <datalist id="document">
                    <option value="Ficha">
                    <option value="Video">
            </datalist>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search-bt">Search</button>
        </form>

        {% if search_filter == 'Ficha' %}
        <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ficha in fichas %}
                        {% if ficha.Status == "p" %}
                        <tr>
                            <td>{{ ficha.Titulo }}</td>
                            <td> <a href="{{ ficha.Documento.url }}" target="_blank"> Acessar </a></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
        </table>
        {% endif %}

        {% if search_filter == 'Video' %}
        <div class="bloco" id="primeiro-bloco">
            <div class="bloco-content">
                {% for video in videos %}
                    {% if  video.Status == "p" %}
                        {% video video.Video as my_video %}
                <iframe id="1" class="videos" src="{{ my_video.url }}"></iframe>
                        {% endvideo %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

</div>


{% endblock %}


</body>
</html>