{% extends "base.html" %}

    {% block head %}
        {% load embed_video_tags %}
        {% load static %}
        <link rel="stylesheet" href="{% static "video_style.css" %}">
        <title>Vídeos</title>

    {% endblock %}

    {% block content %}

        <div id="div-gelo">

            <div class="content"><a class="btn btncursos btndsia btn__active bt-cartao bt-gelo" href="/fichas" id="bt-gelo-1">Fichas</a></div>
            <div class="content"><a class="btn btncursos btndsia btn__active bt-cartao bt-gelo" href="/videos" id="bt-gelo-2">Vídeos</a></div>
            <div class="content"><a class="btn btncursos btndsia btn__active bt-cartao bt-gelo" href="/" id="bt-gelo-3">Aulas</a></div>

        </div>




        <div class="bloco" id="primeiro-bloco">
            <h3 class="title-periodos">1º Período</h3>
            <div class="bloco-content">

                {% for video in videos %}
                        {% if video.Periodo == "1" and video.Status == "p" %}
                            {% video video.Video as my_video %}
                    <iframe id="1" class="videos" src="{{ my_video.url }}"></iframe>
                            {% endvideo %}
                        {% endif %}
                    {% endfor %}



            </div>

        </div>


        <div class="bloco" id="segundo-bloco">
            <h3 class="title-periodos">2º Período</h3>
            <div class="bloco-content">

                    {% for video in videos %}
                        {% if video.Periodo == "2" and video.Status == "p" %}
                            {% video video.Video as my_video %}
                    <iframe id="1" class="videos" src="{{ my_video.url }}"></iframe>
                            {% endvideo %}
                        {% endif %}
                    {% endfor %}

            </div>
        </div>

        <div class="bloco" id="terceiro-bloco">
            <h3 class="title-periodos">3º Período</h3>
            <div class="bloco-content">

                    {% for video in videos %}
                        {% if video.Periodo == "3" and video.Status == "p" %}
                            {% video video.Video as my_video %}
                    <iframe id="1" class="videos" src="{{ my_video.url }}"></iframe>
                            {% endvideo %}
                        {% endif %}
                    {% endfor %}

            </div>
        </div>

    {% endblock %}

