{% extends "base.html" %}

    {% block head %}
        {% load embed_video_tags %}
        {% load static %}

        <link rel="stylesheet" href="{% static "video_style.css" %}">

        <title>Vídeos</title>

    {% endblock %}

    {% block content %}


        <div id="div-gelo">

            <div class="content"><form method="get">
                <input type="submit" value="Fichas">
                <input type="text" name="view_filter" hidden="hidden" value="visualizar_fichas">
            </form></div>
            <div class="content"><form method="get">
                <input type="submit" value="Videos">
                <input type="text" name="view_filter" hidden="hidden" value="visualizar_videos">
            </form></div>
            <div class="content"><a class="btn btncursos btndsia bt-cartao bt-gelo" href="/" id="bt-gelo-3">Aulas</a></div>

        </div>


        <div class="bloco" id="primeiro-bloco">
            <img src="{% static "imagens/trinagulo-branco.png" %}" alt="" id="triangulo-branco">
            <h3 class="title-periodos" id="title-1periodo">1º Período</h3>
            <div class="bloco-content">

                {% if view_filter == 'visualizar_videos' %}
                    {% for video in videos %}
                            {% if video.Status == "p" %}
                                {% video video.Video as my_video %}
                        <iframe id="1" class="videos" src="{{ my_video.url }}"></iframe>
                                {% endvideo %}
                            {% endif %}
                        {% endfor %}
                {% endif %}

                {% if view_filter == 'visualizar_fichas' %}
                    {% for ficha in fichas %}
                        {% if ficha.Status == "p" %}
                            <table class="table">
                                <tbody>
                                    {% if ficha.Status == "p" %}
                                        <tr>
                                            <td>{{ ficha.Titulo }}</td>
                                            <td> <a href="{{ ficha.Documento.url }}" target="_blank"> Acessar </a></td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="bloco" id="segundo-bloco">
            <h3 class="title-periodos">2º Período</h3>
            <div class="bloco-content">

                {% if view_filter == 'visualizar_videos' %}
                    {% for video in videos %}
                            {% if video.Status == "p" %}
                                {% video video.Video as my_video %}
                        <iframe id="1" class="videos" src="{{ my_video.url }}"></iframe>
                                {% endvideo %}
                            {% endif %}
                        {% endfor %}
                {% endif %}

                {% if view_filter == 'visualizar_fichas' %}
                    {% for ficha in fichas %}
                        {% if ficha.Status == "p" %}
                            <table class="table">
                                <tbody>
                                    {% if ficha.Status == "p" %}
                                        <tr>
                                            <td>{{ ficha.Titulo }}</td>
                                            <td> <a href="{{ ficha.Documento.url }}" target="_blank"> Acessar </a></td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="bloco" id="terceiro-bloco">
            <h3 class="title-periodos">3º Período</h3>
            <div class="bloco-content">

                {% if view_filter == 'visualizar_videos' %}
                    {% for video in videos %}
                            {% if   video.Status == "p" %}
                                {% video video.Video as my_video %}
                        <iframe id="1" class="videos" src="{{ my_video.url }}"></iframe>
                                {% endvideo %}
                            {% endif %}
                        {% endfor %}
                {% endif %}

                {% if view_filter == 'visualizar_fichas' %}
                    {% for ficha in fichas %}
                        {% if ficha.Status == "p" %}
                            <table class="table">
                                <tbody>
                                    {% if ficha.Status == "p" %}
                                        <tr>
                                            <td>{{ ficha.Titulo }}</td>
                                            <td> <a href="{{ ficha.Documento.url }}" target="_blank"> Acessar </a></td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endblock %}

