{% extends "base.html" %}

    {% block head %}
        {% load embed_video_tags %}
        {% load static %}

        <link rel="stylesheet" href="{% static "video_style.css" %}">

        <title>Vídeos</title>

    {% endblock %}

    {% block content %}


        <div id="div-gelo">

            <div class="content"><form method="get">
                {% if 'view_filter' not in request.GET %}
                <input type="submit" value="Fichas" class="btn btncursos btndsia bt-cartao bt-gelo bt-gelo-inactive" id="bt-gelo-1">
                {% endif %}
                {% if view_filter == 'visualizar_fichas' %}
                <input type="submit" value="Fichas" class="btn btncursos btndsia bt-cartao bt-gelo bt-gelo-active" id="bt-gelo-1">
                {% endif %}
                {% if view_filter == 'visualizar_videos' %}
                <input type="submit" value="Fichas" class="btn btncursos btndsia bt-cartao bt-gelo bt-gelo-inactive" id="bt-gelo-1">
                {% endif %}
                <input type="text" name="view_filter" hidden="hidden" value="visualizar_fichas">
            </form></div>
            <div class="content"><form method="get">
                {% if 'view_filter' not in request.GET %}
                <input type="submit" value="Videos" class="btn btncursos btndsia bt-cartao bt-gelo bt-gelo-inactive" id="bt-gelo-2">
                {% endif %}
                {% if view_filter == 'visualizar_fichas' %}
                <input type="submit" value="Videos" class="btn btncursos btndsia bt-cartao bt-gelo bt-gelo-inactive" id="bt-gelo-2">
                {% endif %}
                {% if view_filter == 'visualizar_videos' %}
                <input type="submit" value="Videos" class="btn btncursos btndsia bt-cartao bt-gelo bt-gelo-active" id="bt-gelo-2">
                {% endif %}
                <input type="text" name="view_filter" hidden="hidden" value="visualizar_videos">
            </form></div>
            <div class="content"><a class="btn btncursos btndsia bt-cartao bt-gelo bt-gelo-inactive" href="/videos/?view_filter=visualizar_videos" id="bt-gelo-3">Aulas</a></div>

        </div>


        <div class="bloco" id="primeiro-bloco">
            <img src="{% static "imagens/trinagulo-branco.png" %}" alt="" id="triangulo-branco">
            <h3 class="title-periodos" id="title-1periodo">1º Período</h3>
            <div class="bloco-content">

                {% if view_filter == 'visualizar_videos' %}
                    {% for video in videos %}
                        {% if video.Periodo == '1' and video.Status == "p" %}
                                {% video video.Video as my_video %}
                        <iframe id="1" class="videos" src="{{ my_video.url }}"></iframe>
                                {% endvideo %}
                            {% endif %}
                        {% endfor %}
                {% endif %}

                {% if view_filter == 'visualizar_fichas' %}
                    <table class="table">
                        <tbody>
                        {% for ficha in fichas %}
                            {% if ficha.Status == "p" %}
                                    {% if ficha.Periodo == '1' and ficha.Status == "p" %}
                                        <tr>
                                            <td>{{ ficha.Titulo }}</td>
                                            <td> <a href="{{ ficha.Documento.url }}" target="_blank"> Acessar </a></td>
                                        </tr>
                                    {% endif %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>

        <div class="bloco" id="segundo-bloco">
            <h3 class="title-periodos">2º Período</h3>
            <div class="bloco-content">

                {% if view_filter == 'visualizar_videos' %}
                    {% for video in videos %}
                            {% if video.Periodo == '2' and video.Status == "p" %}
                                {% video video.Video as my_video %}
                        <iframe id="1" class="videos" src="{{ my_video.url }}"></iframe>
                                {% endvideo %}
                            {% endif %}
                        {% endfor %}
                {% endif %}

                {% if view_filter == 'visualizar_fichas' %}
                    <table class="table">
                        <tbody>
                        {% for ficha in fichas %}
                            {% if ficha.Status == "p" %}
                                    {% if ficha.Periodo == '2' and ficha.Status == "p" %}
                                        <tr>
                                            <td>{{ ficha.Titulo }}</td>
                                            <td> <a href="{{ ficha.Documento.url }}" target="_blank"> Acessar </a></td>
                                        </tr>
                                    {% endif %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>

        <div class="bloco" id="terceiro-bloco">
            <h3 class="title-periodos">3º Período</h3>
            <div class="bloco-content">

                {% if view_filter == 'visualizar_videos' %}
                    {% for video in videos %}
                            {% if video.Periodo == '3' and video.Status == "p" %}
                                {% video video.Video as my_video %}
                        <iframe id="1" class="videos" src="{{ my_video.url }}"></iframe>
                                {% endvideo %}
                            {% endif %}
                        {% endfor %}
                {% endif %}

                {% if view_filter == 'visualizar_fichas' %}
                    <table class="table">
                        <tbody>
                        {% for ficha in fichas %}
                            {% if ficha.Status == "p" %}
                                    {% if ficha.Periodo == '3' and ficha.Status == "p" %}
                                        <tr>
                                            <td>{{ ficha.Titulo }}</td>
                                            <td> <a href="{{ ficha.Documento.url }}" target="_blank"> Acessar </a></td>
                                        </tr>
                                    {% endif %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>

    <script>

        $('#bt-gelo-2 ').click(function () {
			btn = $('#bt-gelo-2');
			if (btn.hasClass('bt-gelo-inactive')) {
                btn.addClass('bt-gelo-active');
                btn.removeClass('bt-gelo-inactive');
                btn = $('#bt-gelo-1');
                btn.addClass('bt-gelo-inactive');
                btn.removeClass('bt-gelo-active');
            }});
</script>

        <script>

        $('#bt-gelo-1 ').click(function () {
			btn = $('#bt-gelo-1');
			if (btn.hasClass('bt-gelo-inactive')) {
                btn.addClass('bt-gelo-active');
                btn.removeClass('bt-gelo-inactive');
                btn = $('#bt-gelo-2');
                btn.addClass('bt-gelo-inactive');
                btn.removeClass('bt-gelo-active');
            }})



    </script>

    {% endblock %}